<h1> Welcome to Fictionary </h1>
<p> A real place for real words </p>

<form action ='/' method='POST'>
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="it's a secret"></br>
 <input type="submit" value="LOGIN">
</form>


<form action = '/users/new' method='GET'>
  <input type = "submit" value = "SIGNUP">
</form>
