<h1>Words are Magic</h1>

<form action= "/entry" method = "POST">
  <input type="text" name="letter" placeholder="first letter"><br>

  <input type ="text" name="entry[word]" placeholder = "what's the word?"><br>

  <textarea rows="4" cols="40" name="entry[description]" placeholder ="define it"></textarea><br>

   <textarea rows="4" cols="40" name="entry[example]" placeholder ="use it in a sentence"></textarea><br>


  <input type="submit" value = "make magic">
</form>