<h1> The Pen is Mightier than the Schword </h1>

<p> Pat yourself on the back for you have made the brave decision to no longer just accept the words presented to you just because they are 'in the dictionary' or 'real'. It's not enough for you to simply ingesticulate words, but in you burns the desire to frummelpump and desermulupus words into existence. Here is your chance. Just give us your name, number, and social security number </p> 


<form action= '/users' method="POST">
  <input type="text" name="user[username]" placeholder="choose you handle">
  <input type="password" name="user[password]" placeholder="whisper the secret">

  <input type= "submit" value="signup">
</form>




